.button {
    width: 153px;
    height: 32px;
    background: $main-color;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    &_main {
        width: 303px;
        height: 54px;
        font-size: 16px;
        font-weight: 500;
        margin-top: 67px;
    }
    &_submit {
        width: 100%;
        height: 58px;
        font-size: 16px;
    }
    &_mini {
        width: 135px;
        height: 44px;
        font-size: 14px;
    }
}


@media (max-width: 575px) {
    .button {
        width: 130px;
        height: 25px;
        font-size: 10px;
        &_main {
            width: 210px;
            height: 40px;
            font-size: 13px;
            margin-top: 20px;
        }
        &_submit {
            width: 100%;
            height: 58px;
            font-size: 14px;
        }
    }
}

@media (max-width: 420px) {
    .button {
        width: 110px;
        &_main {
            width: 210px;
        }
        &_submit {
            width: 100%;
            height: 58px;
            font-size: 14px;
        }
    }
}