.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../bg/bg2.png') center (center/cover) no-repeat;
    &__descr {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        text-align: left;
        color: #FFFFFF;
    }
}

@media (max-width: 991px) {
    .consultation {
        &__descr {
            margin-left: 20px;
            font-size: 15px;
            line-height: 25px;
        }
    }
}

@media (max-width: 575px) {
    .consultation {
        min-height: 575px;
        padding: 50px 0 42px 0;
        &__descr {
            text-align: center;
            margin: 0;
            margin-top: 15px;
        }
    }
}
