.reviews {
    min-height: 915px;
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 60px 0;
    }
    &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #0D0D0D;
        margin-left: 61px;
        p {
            margin-bottom: 10px;
        }
    }
    &__name {
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
        margin-bottom: 10px;
        span {
            font-weight: 500;
            font-size: 14px;
            color: #646464;
        }
    }
}

@media (max-width: 991px) {
    .reviews {
        &__item {
            margin: 60px 20px;
        }
        &__text {
            margin-left: 30px;
        }
    }
}

@media (max-width: 576px) {
    .reviews {
        &__item {
            flex-direction: column;
        }
        &__img {
            display: block;
            margin: 0 auto;
        }
        &__text {
            margin: 10px;
            margin-top: 20px;
        }
    }
}
